<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Головна</title>
</head>
<body>
<form method="GET" action="/login">
    <input type="submit" value="Представитися системі"/>
</form>
<form method="GET" action="/logout">
    <input type="submit" value="Вийти (якщо залогинен)"/>
</form>
<form method="GET" action="/user">
    <input type="submit" value="Показати дані про себе самого"/>
</form>
<button disabled>На головну сторінку</button>
<form method="GET" action="/admin">
    <input type="submit" value="Показати дані про всех (якщо админ)"/>
</form>
<br/>
</body>
</html>